.header {
  padding: 15px 20px;
  display: flex; /*everything goes into a single row */
  justify-content: space-between; /*Provides space between the different divs*/

  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.header_left {
  display: flex;
  justify-content: space-evenly;
  margin-left: 30px;
}

.header_input {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header_input > input {
  border: none;
  background-color: transparent;
  width: 100%;
  outline-width: 0;
}

.header_middle {
  display: flex;
  justify-content: center;
}

.header_option-active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header_option-active {
  border-bottom: 4px solid #2e81f4;
}

.header_option > .MuiSvgIcon-root {
  color: gray;
}

.header_option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header_option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header_option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header_info {
  display: flex;
  align-items: center;
}

.header_info > h4 {
  margin-left: 10px;
}

.header_right {
  display: flex;
  margin-right: 10px;
}

.header_left > img {
  height: 40px;
}

.header__button {
  border-radius: 10px;
  width: 80px;
  height: 30px;
  margin-top: 9px;
  margin-left: 3px;
  color: white;
  background-color: black;
}

.header__button:hover {
  color: black;
  background-color: white;
}

@media(max-width:768px){
  .header{
    flex-direction: column;
  }
}